.info-container {
	background-color: #fff;
	margin-right: 20px;
	padding: 30px;
	margin-top: 20px;
	border: 1px solid #e5e5e5;
}
.info-container::before,
.info-container::after {
    content: '';
    clear: both;
    display: table;
}
.info-title {
	margin: 0 0 45px;
}

.hello-user {
	font-size: 18px;
	color: #bcbfc4;	
}
.hello-user span {
}
.welcome-desc {
	font-size: 16px;
    max-width: 600px;
}
.bonita-theme-tabs {
	margin-top: 45px;
}
.bonita-tab {
	display: none;
	padding: 30px 10px;
}
.bonita-tab.show {
	display: block;
}
.bonita-tab-nav .nav-button {
	font-size: 18px;
}
.bonita-tab-nav a:active,
.bonita-tab-nav a:focus {
	box-shadow: none;
}
.bonita-tab-nav .nav-button.active {
	background-color: transparent;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}
.nav-tab:first-of-type {
	margin-left: 0;
}
.tab-column {
	width: 45%;
}
.tab-column:first-of-type {
	float: left;
}
.tab-column:last-of-type {
	float: right;
}
.bonita-tab.support .dashicons {
    display: block;
    font-size: 32px;
    height: auto;
    width: auto;
    text-align: left;
}
.bonita-tab.table table {
	border-collapse: collapse;
}
.bonita-tab.table th,
.bonita-tab.table td {
	border: 1px solid #ebebeb;
	padding: 20px;
	text-align: center;
}
.bonita-tab .dash-green {
	color: #5ad15a;
    font-size: 28px;
    height: auto;
    width: auto;
}
.bonita-tab .dash-red {
	color: #fc6f6f;
    font-size: 28px;
    height: auto;
    width: auto;	
}