.info-container {
	margin-right: 20px;
	padding: 30px;
	margin-top: 20px;
}
.info-container::before,
.info-container::after {
    content: '';
    clear: both;
    display: table;
}
.info-title {
	margin: 0 0 45px;
}
.info-version {
	background: #e5e5e5;
    font-size: 14px;
    display: inline-block;
    padding: 2px 4px;
	margin-left: 12px;
	border: 1px solid #ccc;
	vertical-align: top;
}

.hello-user {
	font-size: 18px;
}
.hello-user span {
}
.welcome-desc {
	font-size: 16px;
	max-width: 660px;
	margin-bottom: 40px;
}
.bonita-tab {
	display: none;
	padding: 30px 10px;
}
.bonita-tab.show {
	display: block;
}
.bonita-tab-nav .nav-button {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.bonita-tab-nav .nav-tab {
	padding: 10px 14px;
}
.bonita-tab-nav a:active,
.bonita-tab-nav a:focus {
	box-shadow: none;
}
.bonita-tab-nav .nav-button.active {
	background-color: transparent;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}
.nav-tab:first-of-type {
	margin-left: 0;
}
.tab-column {
	width: 45%;
}
.tab-column:first-of-type {
	float: left;
}
.tab-column:last-of-type {
	float: right;
}
.bonita-tab.support .dashicons {
    display: block;
    font-size: 32px;
    height: auto;
    width: auto;
    text-align: left;
}
.bonita-tab.table table {
	border-collapse: collapse;
}
.bonita-tab.table th,
.bonita-tab.table td {
	border: 1px solid #ebebeb;
	padding: 20px;
	text-align: center;
}
.bonita-tab .dash-green {
	color: #5ad15a;
    font-size: 28px;
    height: auto;
    width: auto;
}
.bonita-tab .dash-red {
	color: #fc6f6f;
    font-size: 28px;
    height: auto;
    width: auto;	
}
.bonita-theme-tabs {
	width: calc(70% - 30px);
	float: left;
	margin-right: 30px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	padding: 30px;
}
.bonita-theme-sidebar {
	width: 30%;
	float: left;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	padding: 30px;
}
.bonita-sidebar-widget {
	margin-bottom: 30px;
}
.bonita-sidebar-widget:last-of-type {
	margin-bottom: 0;
}
.plugins-row {
	box-sizing: border-box;
}
.plugin-block {
	padding: 0 15px;
	width: 33.33333%;
	float: left;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 40px;
}
.bonita-notice {
	background-color: #fff2c3;
    padding: 10px;
    border-left: 2px solid #ffb100;
}
.step-number {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #dddddd;
	margin-right: 10px;
	text-align: center;
	line-height: 32px;
	display: inline-block;
	font-size: 13px;
}